openapi: 3.0.0
info:
  description: This is a restful Api description forour RailWay CoffeShop in Vienna.
  version: 1.0.0
  title: Swagger RailWay CoffeShop
servers:
  - url: 'http://api.example.com/v1'
    description: 'Optional server description, e.g. Main (production) server'
  - url: 'http://staging-api.example.com'
    description: 'Optional server description, e.g. Internal staging server for testing'


paths:
  /order:
    get:
      tags:
        - order
      summary: Get list of orders.
      description: Returns a list of orders. This can only be done by the logged in user.
      operationId: getAllNewOrders
      responses:
        '200':
          description: A JSON array of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'

    post:
      tags:
        - order
      summary: Creates a order.
      description: Creates a order. This can only be done by the logged in user.
      operationId: postOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coffeeId:
                  type: integer
                latitude:
                  type: number
                longitude:
                  type: number
      responses:
        '201':
          description: Created
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'

    put:
      tags:
        - order
      summary: Update the status
      description: >-
        Update the status of an order. This can only be done by the logged in
        user.
      operationId: putOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coffeeId:
                  type: integer
                status:
                  type: integer
      responses:
        '400':
          description: Invalid order supplied
        '404':
          description: Order not found
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'

    delete:
      tags:
        - order
      summary: Cancel an order
      description: This can only be done by the logged in user.
      operationId: cancelOrder
      parameters:
        - name: orderId
          in: path
          required: true
          description: the id of order.
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '400':
          description: Invalid order supplied
        '404':
          description: Order not found
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'

  /order/{orderId}:
    put:
      tags:
        - order
      summary: Commit an order
      description: This can only be done by the logged in user.
      operationId: commitOrder
      parameters:
        - in: path
          name: orderId
          schema:
            type: integer
          required: true
          description: Numeric ID of the user to get
      responses:
        '200':
          description: Updated
        '400':
          description: Invalid order supplied
        '404':
          description: Order not found
        '405':
          description: Validation exception
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'

    get:
      tags:
        - order
      summary: Returns an order by ID.
      description: This can only be done by the logged in user.
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          description: to view an specifiec order.
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '200':
          description: A JSON array of Orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
        - coffeeshop_auth:
            - 'write:orders'
            - 'read:orders'
  /users:
    get:
      tags:
        - user
      summary: Returns a list of users.
      description: Returns a list of users.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

    post:
      tags:
        - user
      summary: Register a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  writeOnly: true
                email:
                  type: string
                mobileNumber:
                  type: string
              required:
                - username
                - password
                - mobileNumber
      responses:
        '201':
          description: Created
        '405':
          description: Validation exception

  /user/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      description: ''
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Invalid username/password supplied

  /user/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      description: ''
      operationId: logoutUser
      parameters: []
      responses:
        default:
          description: successful operation

securityDefinitions:
  coffeeshop_auth:
    type: oauth2
    authorizationUrl: 'http://coffeeshop.swagger.io/oauth/dialog'
    flow: implicit
    scopes:
      'write:orders': modify orders in your account
      'read:orders': read your orders
  api_key:
    type: apiKey
    name: api_key
    in: header
