@model IEnumerable<RailWayCoffee.Services.ViewModels.Order.IndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    @foreach (var item in Model)
    {
        <li>@item.Id</li>
    }
</ol>